<footer class="new-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div>
                        <a href="">Cadre-territorial.fr</a>
                    </div>
                    <div>
                        <a href="">Mentions légales</a>
                        <p>Une mission inité par l’agence <a target="_blank" href="https://datack.fr">Datack</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
