<footer class="new-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="new-footer-div">
                    <div class="new-footer-div-un">
                        <a href="">Cadre-territorial.fr</a>
                    </div>
                    <div class="new-footer-div-deux">
                        <a href="https://cadre-territorial-9c9f.c4o.io/pages/3FpJ5ZZlAgSiRTcUQ1LZ3R/mentions-legales">Mentions légales</a>
                        <p>Une mission inité par l’agence <a target="_blank" href="https://datack.fr">Datack</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
