<span class="new-share"></span>

<div class="container">
  <div class="row">
    <div class="col-lg-12">  
      <div class="menu-header">
          {% for item in current_project.header %}

                      <a href="{{ item.url }}"
                         {% if item.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %} class="link-menu-header">
                          {{ item.label }}
                      </a>

            {% endfor %}
       </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="hp-title">Cadre-territorial.fr</h1>    
    </div>
  </div>
</div>

    <div class="container">
        {% for key, block in blocks %}
            {% if key != 0 or block.type != 'cta' %}
                {{ block.content|raw }}
            {% endif %}
        {% endfor %}
    </div>
<div class="container">
  <div class="row">
    <div class="col-lg-12"> 
      <div data-controller="searchengine"
           data-searchengine-endpoint-value="https://search.citipo.com"
           data-searchengine-key-value="f5a718eda068f352cc86dc3aa9d3ab315c02eb28c6154fdccb0631d01f4eed16"
           data-searchengine-project-value="9c9f925a-d9d7-4a99-9417-4914be7da502"
           data-searchengine-type-value="post"
           data-searchengine-limit-value="100">
           <div class="bloc-recherche-filtre">
              <input type="text" data-searchengine-target="queryInput" class="form-control input-recherche" placeholder="Que recherchez-vous ?"/>
           </div>
           <template data-searchengine-target="resultTemplate">
              <div class="bloc-article-div">
                  <a  href="/posts/<%= item.encoded_uuid %>/<%= item.metadata.slug %>" data-turbo="optional">
                      <div class="div-list-article">
                          <div class="row">
                              <div class="col-lg-10">
                                  <h2 class="h2-list-article"><%= item.title %></h2>
                              </div>
                              <div class="col-lg-2">
                                <p class="p-list-article"><%= (new Date(item.date * 1000)).toLocaleDateString() %></p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </template>

          <div data-searchengine-target="resultsList"></div>
      </div>
    </div>
  </div>
</div>
